#aa{
	text-align: center;
}
#link{
	border: 2px solid black;
	text-decoration-line: none;
}
input[type="text"]{
	width: 40%;
	box-shadow: 2px 2px 2px #000000;
}
#gs{
	width: 9%;
}
#nav1{
	text-decoration-line: none;
	float: left;
    
}
#nav2{
	text-decoration-line: none;
	float: right;
}

